panda3d==1.10.10
panda3d_kivy==0.3.0
kivy[base]

numpy==1.20.3
numba==0.54.1
dependency-injector==4.37.0

sqlalchemy==1.4.27
scipy==1.7.2
-e git+git://github.com/pvigier/perlin-numpy#egg=perlin-numpy

decopatch=1.4.8
makefun=1.12.1
